@model Quinterest.Models.Pin

<div class="row">

    <div class="col-md-1">
        <a class="btn btn-danger pinPageButtons">Pin it</a>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-1">
        <a class="btn btn-default pinPageButtons">Like</a>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-1">
        <a class="btn btn-default pinPageButtons">Visit site</a>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-1">
        <a class="btn btn-default pinPageButtons">Edit</a>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-1">
        <a class="btn btn-default pinPageButtons">Share</a>
    </div>
    <div class="col-md-3">
    </div>

    <hr />
    <hr />
    <div class="row">
        <div class="col-md-7">
            <img id="pinImage" src="http://ext.homedepot.com/community/blog/wp-content/wpuploads/Jenn-Stagg-Patio-Style-Challenge-15.jpg" alt="Default Image" />
        </div>
        <div class="col-md-5">
            <ul id="stats">
                <li>
                    Title
                </li>
                <li>
                    <a href="http://www.google.com">www.website.com</a>
                </li>
                <li>
                    User Who Pinned
                </li>
                <li>
                    Short Description
                </li>
                <li>
                    Long Description
                </li>
            </ul>
            <div class="form-group">
                @Html.LabelFor(model => model.NewComment, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NewComment, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.NewComment, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>

