body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url('bokeh1.jpg') no-repeat fixed 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.expandedPinImage {
    max-width: 500px;
    min-height:400px;
    padding: 10px;
    border: 2px solid #2c3e50;
    position: relative;
    top: 25px;

}

.smallPinDiv {
    height:300px;
    background-color:rgba(149, 165, 166, 0.15);
    padding:5px;
    border: 2px solid #2c3e50;
    border-radius: 10px;
}

.smallPinImage {
    max-height:175px;
    max-width:100%;
}

.profileImage {
    max-width:175px;
    max-height:150px;
}

.profileButtons {
    text-align:right;
    top:-25px;
}

.displayName {
    text-align:center;
}

.boardsPins {
    text-align:right;
}

.navMoveDown {
    top:10px;
    position:relative;
    margin-left:5px;
}

.flag {
    float: right;
}

.commentTable {
    float:left;
    margin:10px;
}

.commentTableRow {
    border:20px solid transparent;
}

.commentImage {
    max-height:45px;
    max-width:45px;
}

.navbar-input-group input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.dropDownColor {
    color:#2c3e50;
}

.pinItImage {
    max-width: 100%;
    min-height:400px;
    padding: 10px;
    border: 2px solid #2c3e50;
}

.pins {
    height:360px;
}

.deleteWidth {
    height:360px;
    width:300px;
}

.mainBoardImages {
    max-height:165px;
}

.boards {
    height:350px;
}

.dropdown-menu {
    min-width:90px;
}

.pinDivButtons {
    position: absolute;
    bottom: 40px;
}

a, a:hover, a:active, a:visited {
    text-decoration:none;  
    color:#333;
}

.pinItDivButton, .pinItDivButton:hover, .pinItDivButton:after, .pinItDivButton:visited {
    color:white;
}

.navbar-inverse {
    background-color: #917394;
    border-color: #917394;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: #D3CBD4;
    border-color: #C7B7C7;
}