body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*.pinImages {
    max-width:150px;
}*/

.expandedPinImage {
    max-width: 500px;
    min-height:400px;
    padding: 10px;
    border: 2px solid #2c3e50;
    position: relative;
    top: 25px;

}

.smallPinDiv {
    height:300px;
    background-color:rgba(149, 165, 166, 0.15);
    padding:5px;
    border: 2px solid #2c3e50;
    border-radius: 10px;
}

.smallPinImage {
    max-height:150px;
    max-width:100%;
}

.profileImage {
    max-width:175px;
    max-height:150px;
}

.profileButtons {
    text-align:right;
    top:-25px;
}

.displayName {
    text-align:center;
}

.boardsPins {
    text-align:right;
}

