<h1>Create A Board</h1>

<div class="row">
    <div class="col-sm-8 crudForms">
        <form ng-cloak name="createBoard" ng-submit="main.createBoard()" novalidate>

            <label>Board Name</label>
            <input name="boardName" ng-model="main.boardName" required />
            <span ng-show="createBoard.title.$dirty&&createBoard.title.$error.required" class="error">
                *required
            </span>
            <br />

            <label>Image Url</label>
            <input name="image" ng-model="main.imageUrl" required />
            <span ng-show="createBoard.image.$dirty&&createBoard.image.$error.required" class="error">
                *required
            </span>
            <br />

            <label>Description</label>
            <input ng-model="main.description" />
            <br />

            <input type="submit" value="Create" ng-disabled="createBoard.$invalid" />

        </form>
    </div>

    <div class="col-sm-3 smallPinDiv">
        <h4>{{main.boardName}}</h4>
        <img class="smallPinImage" ng-src="{{main.imageUrl}}" />
        <br />
        {{main.description}}
    </div>

    <div class="col-sm-1">
    </div>
</div>