@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="carousel slide" id="carousel-150062">
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#carousel-150062">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-150062">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-150062">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="Carousel Bootstrap First" src="http://thepaperwall.com/wallpapers/architecture/big/big_a6812e2a092d2cf2ec346ef4fac3246fc83965fb.jpg" />
                        <div class="carousel-caption">
                            <h2>
                                Plan Your Vacation
                            </h2>
                            <p>
                                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="Carousel Bootstrap Second" src="http://www.vermontwine.com/uploads/PeterMiller1957.jpg" />
                        <div class="carousel-caption">
                            <h2>
                                Find Your New Favorite Meal
                            </h2>
                            <p>
                                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="Carousel Bootstrap Third" src="http://www.hdwallpapersinn.com/wp-content/uploads/2014/08/Porsche-Car-in-Black-White-HD-Wallpaper.jpg" />
                        <div class="carousel-caption">
                            <h2>
                                Dream About Your Next Ride
                            </h2>
                            <p>
                                Welcome to Quinterest - The quintessencial interest website!
                            </p>
                        </div>
                    </div>
                </div> <a class="left carousel-control" href="#carousel-150062" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-150062" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
</div>