<html xmlns="http://www.w3.org/1999/xhtml" ng-app="QuinterestApp">
<head>
    <title></title>
    <base href="/" />
</head>
<body>

    <ng-view></ng-view>

    @*@Scripts.Render("~/Scripts/js")
    @Scripts.Render("~/QuinterestApp/js")*@

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/QuinterestApp/app.js"></script>
    <script src="~/QuinterestApp/controllers.js"></script>

</body>
</html>