<html xmlns="http://www.w3.org/1999/xhtml" ng-app="QuinterestApp">
<head>
    <title></title>
    <base href="/" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.theme.css" rel="stylesheet" />
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
        input.ng-dirty.ng-invalid {
            background-color: firebrick;
        }
        .error {
            font-weight: bold;
            color: firebrick;
        }
    </style>

</head>
<body>

    <ng-view></ng-view>

    @*@Scripts.Render("~/Scripts/js")
    @Scripts.Render("~/QuinterestApp/js")*@
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/QuinterestApp/app.js"></script>
    <script src="~/QuinterestApp/controllers.js"></script>
    <script src="~/Scripts/pinButtonjQ.js"></script>
</body>
</html>